.contenedor{
    width: 50vw;
    height: 50vh;
    background-color: aqua;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: row-reverse;

}


.hijo{
    background-color: violet;
    width: 5vw;
    height: 5vh;
    border: 1px solid black;
}

.hijo2{
    width: 5vw;
    height: 5vh;
    align-self: center;
    background-color: salmon;
    border: 5px solid blue;
}